body {
     background: #2c6472 url("../images/manifesto.jpg") no-repeat center top fixed;
    font: 14px 'trebuchet ms', arial, sans-serif;
}

/** Structure */
#logo{
background: transparent url("../images/logo.png") no-repeat;
height:200px;
width:80%;
margin:auto;
}
#logo a {
    display:block;
    height:100%;
}

#googlemaps{
    background: transparent url("../images/img6113_19.jpg") no-repeat;
    height:220px;
    width:35%;
    margin:auto;
}

#contact{
  margin:auto;
  width:45%;
}

#contact li {
  
}

h1{
  text-align: center;
}

li{
    list-style: none;
}

#header {
    padding: 2px;
    background: #000;
    color: #fff;

    border-left: 19px solid #FFFFFF;
    border-right: 19px solid #FFF;
    border-top: 19px solid #FFF;
    width:80%;
    margin:auto;
}


td {
border: 1px solid black;
padding: 5px;

}
#content {
    background: #fff;
    padding: 20px;
    height:1000px;
    width:80%;
    margin:auto;
}

#meer{
  margin:auto;
  width:23%;
}

#agendameer{
  margin:auto;
  width:23%;
}

#slider {
	width:59%;
	height:480px;
	margin:auto;
	border:1px solid black;

}

#register{
  margin:auto;
  width:39%;
}

#login{
  margin:auto;
  width:39%;
}

#historie{
  background: transparent url("../images/img5197_19.jpg") no-repeat;
  width: 35%;
  height: 28%;
  margin: auto;
 
}

#historietext{
  width: 60%;
  height: 39%;
  margin: auto;
  

}

#mailinglist{
  border: 1px solid black;
  width: 29%;
  float:left;
  padding:5px;
  margin-left: 24px;
}

table{
    margin:auto;
}

/** uitgezet */
#left-column{
border: 1px solid black;
height:100%;
width:19%;
float:left;
display: block;
text-align: center;
}

/** uitgezet */
#right-column{
border: 1px solid black;
height:100%;
width:19%;
float:right;
display:block;
text-align: center;
}

#footer {
    background: #404040;
    color: #fff;
    padding: 20px;
    height:100px;
    width:80%;
    margin:auto;
    margin-top:30px;
    margin-bottom:40px;
}

/* Links */
#header a {
     color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    display: inline-block;
}


#header a:hover {
    background: #014d60
}

/** Forms */
form {
    font: 100% verdana,arial,sans-serif;
    display: inline-block;

}

form label { 
    display: block;
    float: left; 
    width: 150px; 
    padding: 0; 
    margin: 9px 0 0;
    text-align: right; 
}

form input, form select {
    width: auto;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
}

form input[type=submit]:hover {
    cursor: pointer;
    background: silver;
}


form br {clear: left;}









/********************************** Begin Slider *****************************************************************************/
.slider {
  max-width: 695px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.slider div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.slider img {
  width: 100%;
  height: auto;
}



.next {
  float:right;
  height:347px;
}

.prev {
  float:left;
  height:347px;
}

/********************************** End Slider *****************************************************************************/




